<%- include ("partials/header")%>
    <h5>YOU HAVE ENTERED THE WRONG CITY NAME :(</h5>
    <img src="https://miro.medium.com/max/800/1*hFwwQAW45673VGKrMPE2qQ.png" alt="">
<%- include ("partials/footer")%>